<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
  <body>
    <header>
      <%- include("../partials/header"); %>
    </header>
    
    <!--keep the elements centered and placed over the bg-image-->
    <div class="mask mask-custom">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
      > <h1 class="text-white fw-bold">Blog posts</h1>
      </div>
    </div>
    <section id="categories" class="pt-5">
      <h1 id="titleCategoryHeading" class="text-black fw-bold"><%= titleCategory %></h1>
      <p id="descriptionCategory"><%= description %></p>
      <div class="row">
    
        <% for (let i=0; i<titleBlog.length; i++) { %>
    
          <div class="col-md-4 card-space">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title"><%= titleBlog[i] %></h4>
              </div>
              <div class="card-title text-center">
                <a href="/blog/<%= idBlog[i] %>" class="btn btn-primary" id="readMoreFromCategory">Read more</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </section>
    
    <section id="cards">
      <div class="d-flex flex-wrap justify-content-around">
        <button id="editCategoryBtn" class="btn btn-primary card-space">Edit Category</button>
        <button id="deleteCategoryBtn" class="btn btn-primary card-space">Delete Category</button>
      </div>
    </section>
    <section id="cards">
      <form id="editCategoryForm" class="forms" action="http://localhost:3000/category/<%= idCategory %>" hidden>
        <div class="mb-3">
          <label for="titleCategory" class="form-label">Change Title</label>
          <input type="text" class="form-control" id="titleCategory" name="titleCategory" placeholder="Type the new title here">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Change Description</label>
          <textarea class="form-control" id="description" name="description" placeholder="Type the new desctiption here"></textarea>
        </div>
        <button id="submitChanges" type="submit" class="btn btn-primary">Submit</button>
        <p id="editCategoryFormResponse"></p>
      </form>
    </section>
    <footer>
      <%- include("../partials/footer"); %>
    </footer>
    <script type="module" src="/javascripts/categories.js"></script>
  </body>
</html>
