<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %> 
  <script type="module" src="/javascripts/newblogpost.js">
  </script>
</head>
<body class="container">
  <header>
    <%- include("../partials/header") %>
  </header>
      <div class="d-flex flex-column justify-content-center align-items-center h-30">
        <h1 class="text-red fw-bold">Add New Blog Post</h1>
      </div>
  <section id="cards" class="pt-5">
    <form 
    id="addBlogPostForm"
    enctype="multipart/form-data"
    method="POST"
    class="forms"
  > <div>
      <select id="selectCategory" class="mb-3">
        <option selected>Choose category</option>
        <!-- put all categories in selectCategory -->
        <% for (let i=0 ; i<titleCategory.length ; i++) { %>
          <option value="<%= titleCategory[i] %>" name="category"><%= titleCategory[i] %></option>
        <% } %>
      </select>
      </div>
        <input
          type="text"
          id="title"
          name="title"
          class="input-text"
          placeholder="Your blog post title"
          required
        />
      <div class="mb-3">
        <input
          type="text"
          id="snippet"
          name="snippet"
          class="input-text"
          placeholder="Your blog post snippet"
        />
      </div>
      <div class="mb-3">
        <textarea
          name="content"
          placeholder="The content of your blog post"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <input type="date" name="createdAt" enabled/>
      </div>
      <div class="submit">
        <button type="submit" class="submit-btn btn-primary" name="submitPostBtn">
          SUBMIT
        </button>
      </div>
      <p id="createFormResponse"></p>
    </form>
  </section>
  <div id="space">
    <a href="/">See the latest blog posts</a>
  </div>
    <%- include("../partials/footer") %>
  </body>
</html>
