<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
  <body>
    <header>
      <%- include("../partials/header"); %>
    </header>
    
    <!--keep the elements centered and placed over the bg-image-->
    <div class="mask mask-custom">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
      > <h1 class="text-white fw-bold">Edit category</h1>
      </div>
    </div>
    <section id="categories" class="pt-5">
      <h1 id="titleCategoryHeading" class="text-black fw-bold"><%= titleCategory %></h1>
      <p id="descriptionCategory"><%= description %></p>
    </section>
    
    
    <footer>
      <%- include("../partials/footer"); %>
    </footer>
    <script type="module" src="/javascripts/categories.js"></script>
  </body>
</html>
