<%- include('./partials/head') %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="mask mask-custom">
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100"
    >
      <h1 id="titleBlog" class="text-white fw-bold"><%= titleBlog %></h1>
    </div>
  </div>

  <section id="categories" class="pt-5">
    <p id="content">Content:<%= contentBlog %></p>
  </section>

<section id="cards">
  <form id="editBlogForm" enctype="multipart/form-data" hidden
  method="POST"
  class="forms">
  <div class="mb-3">
    <label for="categorySelected" class="form-label">Change Title Here</label>
    <input type="text" class="form-control" id="categorySelected" name="categorySelected"/>
  </div>
    <div class="mb-3">
      <label for="title" class="form-label">Change Title</label>
      <input type="text" class="form-control" id="title" />
    </div>
    <div class="mb-3">
      <label for="snippet" class="form-label">Change Snippet</label>
      <input type="text" class="form-control" id="snippet" />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Change Content</label>
      <textarea class="form-control" id="content"></textarea>
    </div>

    <button id="submitChanges" type="submit" class="btn btn-primary">
      Submit
    </button>
    <p id="formResponse"></p>
  </form>
</section>

<div class="d-flex flex-wrap justify-content-around">
  <button id="editBlogBtn" class="btn btn-primary card-space">
    Edit Blog Post
  </button>
  <button id="deleteBlogBtn" class="btn btn-primary card-space">
    Delete Blog Post
  </button>
  <p id="deleteFormResponse"></p>
</div>

<script type="javascript" src="../public/javascripts/blog.js">
</script>
<%- include('./partials/footer') %>
</body>

