<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
  <div class="mask mask-custom">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="text-white fw-bold">Edit Blog Post</h1>
    </div>
  </div>

<section id="cards" class="pt-5">
  <form id="editBlogForm">
    <select id="selectCategory" class="form-select mb-3">
      <option selected>Choose category</option>

      <!-- put all categories in selectCategory -->
      <% for (let i=0 ; i<titleCategory.length ; i++) { %>
        <option value="<%= titleCategory[i] %>"><%= titleCategory[i] %></option>
      <% } %>

    </select>

    <script>let allBlogs = <%- allBlogs %> </script>

    <select id="selectBlog" class="form-select mb-3" disabled>
      <option selected>Choose blog</option>
    </select>

    <div class="mb-3">
      <label for="title" class="form-label">Change Title</label>
      <input type="text" class="form-control" id="title" disabled>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Change Description</label>
      <textarea class="form-control" id="description" disabled></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p id="formResponse"></p>
  </form>
</section>

<script type="module"><%- include('../public/javascripts/blog.js') %></script>
<%- include('./partials/footer.ejs') %>