<%- include("./partials/head.ejs") %> 
<body>
<%- include("./partials/nav.ejs") %>

<div class="bg-image">
  <img
    src="https://ro.maricelapotoc.eu/wp-content/uploads/2022/05/mare-768x397.jpg"
    class="w-100"
    alt="background"
  />
</div>

<section id="categories">
  <h2 class="text-center fw-bold">All Blog Posts</h2>
  <div class="row d-flex flex-wrap justify-left">
      <div class="col-md-4 card-space">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title">Boats</h4>
            </div>
            <p class="card-text">Boats in Galati.</p>
          </div>
          <div class="card-footer text-center">
          </div>
        </div>
      </div>
  </div>
  <div class="row d-flex flex-wrap justify-content-around">
    <div class="col-md-4 card-space">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Fish</h4>
          </div>
          <p class="card-text">Fish in Galati, Romania.</p>
        </div>
        <div class="card-footer text-center">
        </div>
      </div>
    </div>
</div>
<div class="row d-flex flex-wrap justify-right">
  <div class="col-md-4 card-space">
    <div class="card h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Galati</h4>
        </div>
        <p class="card-text">Galati city, Romania.</p>
      </div>
      <div class="card-footer text-center">
      </div>
    </div>
  </div>
</div>
</section>
      <section id="last-blogposts-inserted">
        <h2 class="text-white text-center fw-bold">
          Last Blog Posts Introduced
        </h2>
        <div class="card-group">
          <% for (let i=0; i<3; i++) { %>
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title"><%= titleBlog[i] %></h4>
              <p class="card-text">created at: <%= createdAt[i] %></p>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-primary"
                >Details</a
              >
            </div>
          </div>
          <% } %>
        </div>
      </section>

      <section id="cards" class="pt-5">
        <div class="d-flex flex-wrap justify-content-around">
          <a href="/category" class="btn btn-primary card-space" id="addCategoryBtn">Add Category</a>
          <!--<button id="addCategoryBtn" class="btn btn-primary card-space">
            Add Category
          </button>-->
          <a href="/create" class="btn btn-primary card-space"
            >Add blog post</a
          >
          <a href="/edit-post" class="btn btn-primary card-space"
            >Edit blog post</a
          >
        </div>
      </section>

      <script>
        if(titleBlog.length < 3){
          document.getElementById('last-blogposts-inserted').classList.add('last-blogposts-inserted-hidden')
        }
      </script>
        <script type="javascript" src="../public/javascripts/add-category.js"></script>
        <script type="javascript" src="../public/javascripts/newblogpost.js"></script>
        <%- include("./partials/footer.ejs") %>
    </body>
  
