<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
<%- include("./partials/nav.ejs") %>

<div class="bg-image">
  <img
    src="https://ro.maricelapotoc.eu/wp-content/uploads/2022/05/mare-768x397.jpg"
    class="w-100"
    alt="background"
  />
  <div class="mask mask-custom">
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100"
    >
      <h1 class="text-white fw-bold">All blog posts</h1>
    </div>
  </div>
</div>

<section id="cards" class="pt-5">
  <div class="d-flex flex-wrap justify-content-around">
    <button id="addCategoryBtn" class="btn btn-primary card-space">
      Add Category
    </button>
    <a href="/category/blog/create" class="btn btn-primary card-space"
      >Add blog post</a
    >
    <a href="/category/blog/edit-post" class="btn btn-primary card-space"
      >Edit blog post</a
    >
  </div>

  <form id="addCategoryForm" hidden>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" required />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="img"
        accept="image/*"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p id="formResponse"></p>
  </form>
</section>

<section id="categories">
  <h2 class="text-center fw-bold">All Blog Posts</h2>
  <div class="row">
    <% for (let i=0; i<titleCategory.length; i++) { %>
      <div class="col-md-4 card-space">
        <div class="card h-100">
          <img
            src="/images/<%= imageCategory[i] %>"
            class="card-img-top"
            alt="<%= imageCategory[i] %>"
          />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title"><%= titleCategory[i] %></h4>
            </div>
            <p class="card-text"><%= shortDescription[i] %></p>
          </div>
          <div class="card-footer text-center">
            <a href="/category/<%= titleCategory[i] %>" class="btn btn-primary"
              ><%= titleCategory[i] %></a
            >
          </div>
        </div>
      </div>
    <% } %> 
  </div>
</section>
      <section id="last-blogposts-inserted">
        <h2 class="text-white text-center fw-bold">
          Last Blog Posts Introduced
        </h2>
        <div class="card-group">
          <% for (let i=0; i<3; i++) { %>
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title"><%= titleBlog[i] %></h4>
              <p class="card-text"><%= updatedAt[i] %></p>
            </div>
            <div class="card-footer text-center">
              <a href="/category/blog/<%= titleBlog[i] %>" class="btn btn-primary"
                >Details</a
              >
            </div>
          </div>
          <% } %>
        </div>
      </section>

      <script>
        const titleBlogLength = <%= titleBlog.length %>

        if(titleBlogLength < 3){
          document.getElementById('last-blogposts-inserted').classList.add('last-blogposts-inserted-hidden')
        }
      </script>

      <script type="module">
        <%- include("../public/javascripts/add-category.js") %>
      </script>
      <%- include("./partials/footer.ejs") %>
    </body>
</html>
  
